body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(lead\ manageement.jpeg)no-repeat;
    background-size: cover;
    height: 100vh;
    /*/background-position: 11% 11%;/*/
    width:100%;
    position:sticky;
  }
  
  header {
    background-color: #181883;
    color: #8ac21a;
    text-align: left;
    padding: 1rem 0;
  }
  
  section {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 400px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(200, 7, 7, 0.1);
  }
  
  h2 {
    border-bottom: 1px solid #3008b4;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  form label {
    display: block;
    font-weight: bold;
  }
  
  form input {
    padding: 0.5rem;
    border: 1px solid #a10e0e;
    border-radius: 5px;
    width: calc(100% - 1rem);
  }
  
  form button {
    grid-column: span 2;
    padding: 0.75rem;
    color: #361fb8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #dfe923;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  table, th, td {
    border: 1px solid #20be25;
  }
  
  table th, table td {
    padding: 0.75rem;
    text-align: right;
  }
  
  .main-table{
    position:static;
    right: -500px;
    top: 80px;
    border: #000 3px solid;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.5);
  }
  .sub-table{
    position:static;
    right: -500px;
    top: 80px;
    border: #000 3px solid;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.5);
  }